* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(-60deg, #ff9768 0%, #9156e1 100%);
    font-family: 'Lato', sans-serif;
}

.calculator {
    margin: 90px auto;
    width: 368px;
    height: 600px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 75);
}

.header {
    height: 100px;
    padding-top: 37px;
    padding-bottom: 27px;
    padding-right: 29px;
    padding-left: 29px;
    background-color: #212121;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: right;
}

.account {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #d98192;
    font-size: 18px;
    text-align: right;
}

.account::placeholder {
    color: #d98192;
}

.result {
    width: 100%;
    margin-top: 18px;
    text-align: right;
    background: transparent;
    border: none;
    outline: none;
    font-size: 60px;
    color: #fff;
}

.result::placeholder {
    color: #fff;
}

.main {
    width: 369px;
    height: 500px;
    display: table;
    margin-left: -29px;
    text-align: left;
}

.btn {
    width: 92px;
    height: 92px;
    padding: 39px;
    border-image: linear-gradient( to right, #f7f7f7 0%, #f1f1f1 100%);
    font-size: 22px;
    color: #212121;
    outline: none;
    border: none;
}

.btn:nth-child(17) {
    border-bottom-left-radius: 5px;
}

.btn-big {
    position: absolute;
    width: 184px;
    height: 91px;
    padding: 39px;
    font-size: 22px;
    background-color: #e62f89;
    outline: none;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
}

.btn-indigo {
    color: #fff;
    font-size: 22px;
    border-image: none;
    background-color: #9156e1;
}

.btn:hover, .btn-indigo:hover, .btn-big:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
}